<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek | Portfolio &nbsp;🚀</title>

    <%- include('css-lib.ejs') %>
</head>
<div class="preloader">
    <div class="text-container">
        <p>Just</p>
        <p>Hold</p>
        <p>On!</p>
    </div>
</div>

<body class="home">
    <%- include('navbar.ejs') %>

        <main>
            <section class="hero-section screen-h d-flex align-items-center justify-content-center" id="sec-1">
                <div class="bg-elems">
                    <div id="bubbles"></div>
                    <svg class="grid" viewBox="0 0 1600 480" fill="transparent">
                        <pattern width="80" height="80" id="big-grid" patternUnits="userSpaceOnUse">
                            <rect width="100%" height="100%" stroke-width="1">
                            </rect>
                        </pattern>
                        <rect width="100%" height="100%" fill="url(#big-grid)">
                        </rect>
                        <pattern width="10" height="10" id="small-grid" patternUnits="userSpaceOnUse">
                            <rect width="100%" height="100%" stroke-width="0.2">
                            </rect>
                        </pattern>
                        <rect width="100%" height="100%" fill="url(#small-grid)">
                        </rect>
                    </svg>
                    <div class="glow">
                    </div>
                </div>
                <div class="container content-container">
                    <h1 class="h1">
                        <span class="magic">
                            <span class="magic-star">
                                <svg viewBox="0 0 512 512">
                                    <path
                                        d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
                                </svg>
                            </span>
                            <span class="magic-star">
                                <svg viewBox="0 0 512 512">
                                    <path
                                        d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
                                </svg>
                            </span>
                            <span class="magic-star">
                                <svg viewBox="0 0 512 512">
                                    <path
                                        d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
                                </svg>
                            </span>
                            <span class="magic-text">
                                Namaste
                            </span>
                        </span>
                        <span class="emotes"><img src="assets/namaste-emote.png" alt="🙏"></span>
                    </h1>
                </div>
                <!-- <div class="bg-showreel">
                <video id="showreel-vid" loop playsinline autoplay muted controls="false">
                    <source src="assets/showreel.mp4" type="video/mp4" />
                </video>
            </div> -->
            </section>
            <section class="hero-section screen-h d-flex align-items-center justify-content-center" id="sec-2">
                <div class="container welcome-lines">
                    <p class="h1">Welcome to my Wizardry! <span class="emotes"><img src="assets/admission-ticket.png"
                                alt="🎟️"></span>
                    </p>
                    <p class="h1">You can call me...</p>
                </div>
            </section>
            <section class="screen-h" id="sec-spacer"></section>
            <section class="canvas-section screen-h" id="sec-3">
                <div class="headline-container">
                    <div id="text-behind">Frontend <br> Marvel</div>
                    <div id="text-behind-blur">Frontend <br> Marvel</div>
                    <div id="text-front">Frontend <br> Marvel</div>
                </div>
                <div class="canvas-container">
                    <canvas id="canvas"></canvas>
                </div>
            </section>
            <section class="intro-section img-stick  screen-h c-pad d-flex align-items-center" id="sec-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="intro-content">
                                <h1 class="heading-1">Hi I’m Abhishek Patel, <br>A Frontend Developer.</h1>
                                <h2 class="heading-2">My work is mainly focused on adding the third-dimension on the
                                    simple
                                    web that everybody sees. I like exploring the technologies and design systems with a
                                    touch of
                                    dark surrealism for
                                    absolute amazing design production.</h2>
                                <h2 class="heading-2">
                                    Now I’m an utterly creative frontend developer adding LIFE in boring design files ⏤
                                    currently freelancing and
                                    seeking better career opportunities.</h2>
                            </div>

                        </div>
                        <div class="col-lg-5">
                            <div class="intro-preview">
                                <img src="assets/intro-preview-img.jpg" alt="intro">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class=" img-stick c-pad screen-h d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="skill-content">
                                <div class="single-skill row">
                                    <div class="col-3">
                                        <a href="/" class="link">Toolbox</a>
                                    </div>
                                    <div class="col-9">
                                        <div class="skills">
                                            <p class="body-text">HTML, CSS, SASS, Tailwind, JavaScript, ReactJs, jQuery,
                                                Three.js, Green Sock, WordPress
                                            </p>
                                            <p class="body-text">Figma, Sketch, Ai</p>
                                            <p class="body-text">Git</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-skill row">
                                    <div class="col-3">
                                        <a href="/" class="link">Powers</a>
                                    </div>
                                    <div class="col-9">
                                        <div class="skills">
                                            <p class="body-text">Building stunning and responsive websites, Solving
                                                complex
                                                UI/UX puzzles,
                                                Embracing new technologies to stay at the cutting edge,
                                                Build whatever you think into web experience; Because I can animate
                                                anything
                                            </p>
                                            <p class="body-text">Smoooooooooothly <img src="assets/wind-face.png"
                                                    alt="🌬">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="intro-preview">
                                <img src="assets/github-character.gif" alt="intro">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="separator-line"></div>
            </div>
            <section class="cta-section c-pad">
                <div class="container">
                    <div class="cta-main">
                        <div class="cta-links">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="single-cta">
                                        <a class="heading-2 next-project" href="/work">I am thrilled to answer to
                                            your next
                                            project
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21"
                                                viewBox="0 0 24 21" fill="none">
                                                <path
                                                    d="M-5.24032e-07 9.01154L-3.92898e-07 12.0115L18.3146 12.0115L11.3126 18.9462L13.4097 21L24 10.5115L13.4097 1.32119e-06L11.3126 2.1L18.3146 9.01154L-5.24032e-07 9.01154Z"
                                                    fill="#ffffff" />
                                            </svg></a>
                                    </div>
                                </div>
                                <div class="col-md-5 d-flex justify-content-md-end ">
                                    <div class="single-cta">
                                        <a class="heading-2 mail-link"
                                            href="mailto:abhishekkathiriya72@gmail.com">abhishekkathiriya72@gmail.com</a>
                                        <a class="heading-2 body-text" href="assets/Abhishek's Resume.pdf"
                                            download="Abhishek's Resume" target="_blank">View Resume</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-footer">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="left-links">
                                        <a href="/" class="navigation h-effect" data-value="Abhishek P ⏤ 2023">Abhishek
                                            P ⏤
                                            2023
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="right-links d-flex justify-content-end">
                                        <a href="https://github.com/abhiishek-10" target="_blank" class="navigation
                                    h-effect" data-value="Github">Github
                                        </a>
                                        <a href="https://codepen.io/abhiishek-10" target="_blank"
                                            class="navigation h-effect" data-value="Codepen">Codepen
                                        </a>
                                        <a href="https://www.linkedin.com/in/abhiishek-creates/" target="_blank"
                                            class="navigation h-effect" data-value="Linkedin">Linkedin
                                        </a>
                                        <a href="https://twitter.com/lmaoAbhiishek" target="_blank"
                                            class="navigation h-effect" data-value="X">X
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>


        <%- include('script-lib.ejs') %>
            <script type="module" src="js/landing-script.js"></script>
</body>

</html>