<header class="header-container">
    <div class="navbar">
        <a href="/" class="site-logo">Creative</a>
        <div class="menu-toggle">
            <div id="menu-toggle-btn">
                <span></span>
            </div>
        </div>
    </div>

    <div id="nav-container">
        <div class="custom-nav">
            <div class="custom-col flex">
                <div class="nav-logo">
                    A/P
                </div>
                <div class="nav-socials flex">
                    <a href="https://github.com/abhiishek-10" target="_blank" class="navigation h-effect"
                        data-value="Github">Github
                    </a>
                    <a href="https://codepen.io/abhiishek-10" target="_blank" class="navigation h-effect"
                        data-value="Codepen">Codepen
                    </a>
                    <a href="https://www.linkedin.com/in/abhiishek-creates/" target="_blank" class="navigation h-effect"
                        data-value="Linkedin">Linkedin
                    </a>
                    <a href="https://twitter.com/lmaoAbhiishek" target="_blank" class="navigation h-effect"
                        data-value="X">X
                    </a>
                </div>
            </div>
            <div class="custom-col  flex nav-links-group">
                <div class="nav-link">
                    <a href="/work" class="navigation h-effect" data-value="Work">Work</a>
                    <div class="nav-item-wrapper"></div>
                </div>
                <div class="nav-link">
                    <a href="/" class="navigation h-effect" data-value="About">About</a>
                    <div class="nav-item-wrapper"></div>
                </div>
                <div class="nav-link">
                    <a href="/contact" class="navigation h-effect" data-value="Contact">Contact</a>
                    <div class="nav-item-wrapper"></div>
                </div>
            </div>
        </div>

        <div class="nav-footer">
            <div class="links">
                <a href="#" class="navigation">Privacy Policy</a>
                <a href="#" class="navigation">Cookie Policy</a>
                <a href="#" class="navigation">Terms & Conditions</a>
            </div>
            <div class="contact">
                <a href="mailto:abhishekkathiriya72@gmail.com" class="navigation">abhishekkathiriya72@gmail.com</a>
            </div>
        </div>
    </div>
</header>